<div class="card users-invoices-card mt-3">
  <div class="px-3 pb-3 d-flex flex-wrap justify-content-between">
    <div class=" cardTitle ">
      <p>{{'ADMIN-USER-DETAILS.INVOICELISTSUBTITLE' | translate}}</p>
    </div>
  </div>

   <div class="col-md-12 d-flex justify-content-between px-3 py-3">
      <div class="search">
       <span class="me-2 my-auto">{{'CREDITNOTICE.SEARCH' | translate}}</span>
        <input placeholder="{{'INVOICE.INVOICENUMBER'| translate}} ,
          {{'INVOICE.DATEOFCREATION' | translate}}" type="text"(keyup.enter)="search()"
        [(ngModel)]="searchWord" (input)="search()">
      </div>
   </div>
   <div class="col-md-12">


     <app-table-comp 
     [columnsArray]="columnsArray"
     [columnsNames]="columnsNames"
     [RowsData] = "invoices"
     [type]="'AdminInvoice'"
     [controlArray]="controlArray">
     </app-table-comp>


     <p-paginator (onPageChange)="onPageChange($event)" #paginator
      [first]="1" [rows]="perPage" [totalRecords]="totalPage" 
     ></p-paginator> 


   </div>
</div>
