<!-- ui_fix -->
<div class="main-container p-0 ps-5 pe-5">
  <div class="row  AddUsers-container">
    <div class="col-md-12 d-flex justify-content-start title">
     <h2 *ngIf="type!='edit'" class="ms-4">{{'ACTIVITIES.ADD' | translate}}</h2>
     <h2 *ngIf="type=='edit'" class="ms-4">{{'ACTIVITIES.EDIT' | translate}}</h2>
    </div>
    <div class="card p-4 borderRadius_10px AddUsers-card mt-3">
     <div class="px-3 pb-2 d-flex flex-wrap justify-content-between">
       <div  class=" cardTitle ">
         <h4 >{{'ACTIVITIES.DETAILSSUBTITLE' | translate}}</h4>
       </div>
     </div>
     <form [formGroup]="activityDataForm" >
  <div class="px-3">
  
    <div formGroupName="name">
      <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 fullScreenWidth mx-0 my-4 inner-addon right-addon" >
        <label class="form-label mb-1">{{ 'COMMON.NAME' | translate }} - {{'COMMON.ARABIC' |translate}} </label>
        <input type="text" formControlName="ar"
        [ngClass]="!activityDataForm.get('name.ar')?.valid && activityDataForm.get('name.ar')?.touched ?'errorInput' : ''"
        placeholder=" " class="form-control defaultBg borderRadius_10px my-1 mx-0 py-2 py-2 w-100">
        <app-Form-errors [control]="activityDataForm.get('name.ar')"></app-Form-errors>
    
      </div>   
      <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 fullScreenWidth mx-0 my-4 inner-addon right-addon" >
        <label class="form-label mb-1">{{ 'COMMON.NAME' | translate }} - {{'COMMON.ENGLISH' |translate}} </label>
        <input type="text" formControlName="en" 
        [ngClass]="!activityDataForm.get('name.en')?.valid && activityDataForm.get('name.en')?.touched ?'errorInput' : ''"
        placeholder=" " class="form-control defaultBg borderRadius_10px my-1 mx-0 py-2 py-2 w-100">
        <app-Form-errors [control]="activityDataForm.get('name.en')"></app-Form-errors>
    
      </div>   
    </div>
    <!-- <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 fullScreenWidth mx-0 my-4 inner-addon right-addon">
      <label class="form-label mb-1">{{ 'COMMON.en' | translate }} </label>
      <input type="text" formControlName="name" placeholder=" " class="form-control defaultBg borderRadius_10px my-1 mx-0 py-2 py-2 w-100">
      <app-Form-errors [control]="activityDataForm.controls['name']"></app-Form-errors>
  
    </div>    -->
    
    <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 fullScreenWidth mx-0 my-4 inner-addon right-addon">
      <label class="form-label mb-1">{{ 'TEMPLATES.SLAG' | translate }} <span style="color: red;">*</span></label>
      <input type="text" formControlName="slug" placeholder=" " 
      [ngClass]="!activityDataForm.controls['slug'].valid && activityDataForm.controls['slug'].touched ?'errorInput' : ''"
      class="form-control defaultBg borderRadius_10px my-1 mx-0 py-2 py-2 w-100">
      <app-Form-errors [control]="activityDataForm.controls['slug']"></app-Form-errors>
  
    </div>  
  
    <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 fullScreenWidth mx-0 my-4 inner-addon right-addon">
      <label class="form-label mb-1">{{ 'CITIES.ORDER' | translate }} <span style="color: red;">*</span></label>
      <input type="number" formControlName="sort_order"
      [ngClass]="!activityDataForm.controls['sort_order'].valid && activityDataForm.controls['sort_order'].touched ?'errorInput' : ''"
      placeholder=" " appOnlyNumber class="form-control defaultBg borderRadius_10px my-1 mx-0 py-2 py-2 w-100">
      <app-Form-errors [control]="activityDataForm.controls['sort_order']"></app-Form-errors>
  
    </div>   
  
  
    <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 d-flex flex-wrap gap-5 justify-content-between fullScreenWidth mx-0 my-4 ">
      <div>
        <label class="form-label mb-1">{{ 'COMMON.STATUSONLY' | translate }} <span style="color: red;">*</span></label>
        <div class="d-flex flex-wrap gap-3 justify-content-between fullScreenWidth  mx-0 mb-3 ">
          <div class="statusClass">
            <div class="d-flex gap-1 align-items-center justify-content-between ">
              <span >{{ 'CITIES.ACTIVATED' | translate }}</span>
              <input type="radio" formControlName="is_enable" name="is_enable"
              [ngClass]="!activityDataForm.controls['is_enable'].valid && activityDataForm.controls['is_enable'].touched ?'errorInput' : ''"
              [ngStyle]="{'--checked-color': primaryColor}"

              class="form-check-input cursor-pointer" style="width: 3em; height: 3em;border-radius: 5px;"  [value]="1"> 
            </div>
      
          </div>
          <div class="statusClass">
            <div class="d-flex gap-1 align-items-center justify-content-between ">
              <span >{{ 'CITIES.INACTIVE' | translate }}</span>
              <input type="radio" formControlName="is_enable" name="is_enable"
              [ngStyle]="{'--checked-color': primaryColor}"
              [ngClass]="!activityDataForm.controls['is_enable'].valid && activityDataForm.controls['is_enable'].touched ?'errorInput' : ''"
              class="form-check-input cursor-pointer" style="width: 3em; height: 3em;border-radius:5px;"  [value]="0"> 
            </div>
          </div>
  
        </div>
        <app-Form-errors [control]="activityDataForm.controls['is_enable']"></app-Form-errors>
  
      </div>
      <div>
  
  
      </div>
  
  
    </div>
  </div>
   
    <div class="col-12 d-flex justify-content-center justify-content-md-end mt-5">
      <app-button-comp *ngIf="type!='edit'" [btnType]="'main'" (click)="addActivity()" style="width: 120px;"  [name]=" 'COMMON.ADD' | translate " [background_color]="'#1B1464'" ></app-button-comp>
      <app-button-comp *ngIf="type=='edit'" [btnType]="'main'" (click)="editActivity()" style="width: 120px;"  [name]=" 'COMMON.EDIT' | translate " [background_color]="'#1B1464'" ></app-button-comp>
    </div>
     </form>
  
  </div>
  </div>

</div>
