<div class="forgetPassword position-absolute overflow-hidden d-flex flex-wrap align-items-center">
  <div class="position-absolute top-0 ps-5 pt-1">
    <img src="../../../assets/logo/logo 1.svg" width="70" alt="" >
  </div>
  <div class="ContDiv position-relative"> 
    <div class="background">
      <div [ngClass]="{
        'forgetPasswordBodyAR':language=='ar',
        'forgetPasswordBodyEN':language=='en'
      }" class="forgetPasswordBody w-100 h-100 text-start p-5">
        <!--form step 1-->
        <div *ngIf="step==1">
          <form action="" [formGroup]="emailVerficationForm">
          <div class="d-flex flex-column justify-content-center h-100">
             <h1 class="my-4 title">{{'FORGETPASSWORD.FORGETPASSWORD'|translate}}</h1>
  
             <div class="width-40 form-floating mb-3">
              <input formControlName="email" 
              [ngClass]="!emailVerficationForm.controls['email'].valid && emailVerficationForm.controls['email'].touched ?'errorInput' : ''"
              class="textInput h-46px form-control" id="floatingInput" placeholder="name@example.com">
              <label class="inputFieldLable text-white" for="floatingInput">{{'LANDING.EMAIL'|translate}}
                <span style="color: red;">*</span>

              </label>
              <app-Form-errors [control]="emailVerficationForm.controls['email']"></app-Form-errors>
            </div>
  
            <div class="width-40 mt-5 text-center d-flex flex-column gap-1">
              <div>
                <button (click)="verifyEmail()"  type="button" class="loginBtn">{{'FORGETPASSWORD.RESET'|translate}}</button>
              </div>
              <!-- <app-button-comp style="width: 120px;"  [name]="'تسجيل دخول'" background_color="#6759FF" ></app-button-comp> -->
              <div>
                <span class="text-white fs-16 fw-300">{{'REGISTER.ACCOUNTEXIST'|translate}} </span>
                <span routerLink="/auth/login" class="text-white underLined-text fs-16 fw-400 cursor-pointer">{{'REGISTER.LOGIN'|translate}}</span>
              </div>
            </div>
          </div>
        </form>

        </div>
        <!--form step 2-->
        <div *ngIf="step==2">
        <form action="" [formGroup]="verificationForm">
        <div class="d-flex flex-column">
          <div>
            <h1 class="mb-3 title">{{'FORGETPASSWORD.FORGETPASSWORD'|translate}}</h1>
          </div>
          <div class="d-flex width-40 flex-column">
            <span class="text-white fw-400 desctext">{{'REGISTER.BEFORCONT'|translate}}</span>
            <span class="mb-1 text-white desctext fw-400">
              {{'REGISTER.CHECKMAIL'|translate}}
            </span>
          </div>
          <span class="mb-2 text-secondary fs-12"> {{'REGISTER.CODE'|translate}}
            <span style="color: red;">*</span>

          </span>
          <div class="width-40 d-flex otp">
            <div>
              <input (paste)="onPaste($event)" id="digit4" formControlName="digit4" [libAutoTab]="{next:'',prev:'digit3'}"
              class="form-control otpInputs text-center  BoxShadow_25 blue_Color_Btn" 
               type="text" maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
            </div>
            <div>
              <input (paste)="onPaste($event)" id="digit3" [libAutoTab]="{next:'digit4',prev:'digit2'}" formControlName="digit3" 
              class="form-control otpInputs text-center  BoxShadow_25 blue_Color_Btn" 
               type="text" maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
            </div>
            <div>
              <input (paste)="onPaste($event)" id="digit2" [libAutoTab]="{next:'digit3',prev:'digit1'}" formControlName="digit2" 
              class="form-control otpInputs text-center   BoxShadow_25 blue_Color_Btn" 
               type="text" maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
            </div>
            <div>
              <input (paste)="onPaste($event)" id="digit1" [libAutoTab]="{next:'digit2',prev:''}" formControlName="digit1" 
              class="form-control otpInputs text-center   BoxShadow_25 blue_Color_Btn" 
               type="text" maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
            </div>




          </div>
          <div class="err mt-2" *ngIf="dispalyErorr">
            *Required
          </div>
          <div class="width-40 mt-5 text-center d-flex flex-column gap-1">
            <div>
              <button (click)="ValidateOTP()"  type="button" class="loginBtn">{{'REGISTER.CHECK'|translate}}</button>
            </div>
            <!-- <app-button-comp style="width: 120px;"  [name]="'تسجيل دخول'" background_color="#6759FF" ></app-button-comp> -->
            <div class="mt-1">
              <span class="text-white fs-16 fw-300"> {{'REGISTER.ACCOUNTEXIST'|translate}} </span>
              <span routerLink="/auth/login" class="text-white underLined-text fs-16 fw-400 cursor-pointer">{{'REGISTER.LOGIN'|translate}}</span>
            </div>
          </div>
        </div>
      </form>
        </div>
        <!--form step 3-->
        <div *ngIf="step==3">
          <form [formGroup]="resetPasswordFrorm">
          <div class="d-flex flex-column">
            <div>
              <h1 class="mb-3 title">{{'FORGETPASSWORD.FORGETPASSWORD'|translate}}</h1>
            </div>
            <div class="mb-3">
              <span class="fw-400 text-white">{{'FORGETPASSWORD.REWRITEPASSWORD'|translate}}</span>
            </div>
            <div class="width-40 form-floating mb-3 inner-addon right-addon">
              <input formControlName="new_password" 
              [ngClass]="!resetPasswordFrorm.controls['new_password'].valid && resetPasswordFrorm.controls['new_password'].touched ?'errorInput' : ''"
              [type]="showPassword ? 'text' : 'password'" class="textInput h-46px form-control" id="floatingInput" placeholder="name@example.com">
              <i  [ngClass]="{'far-ltr':language=='en'}" alt="show" class="text-white far fa-eye eye-show" 
              (click)="showPassword = !showPassword"
              [class.hide]="showPassword"></i>
              <i  [ngClass]="{'far-ltr':language=='en'}" alt="hide" class="text-white far fa-eye-slash eye-hide" 
              (click)="showPassword = !showPassword"
              [class.hide]="!showPassword"></i> 
              <label class="text-white inputFieldLable" for="floatingInput"> {{'USERPROFILE.NEW_PASSWORD'|translate}}
                <span style="color: red;">*</span>

              </label>
              <app-Form-errors [control]="resetPasswordFrorm.controls['new_password']"></app-Form-errors>
  
            </div>
            <div class="width-40 form-floating mb-3 inner-addon right-addon">
              <input formControlName="new_password_confirmation"
              [ngClass]="!resetPasswordFrorm.controls['new_password_confirmation'].valid && resetPasswordFrorm.controls['new_password_confirmation'].touched ?'errorInput' : ''"
              [type]="showPasswordConf ? 'text' : 'password'" class="textInput h-46px form-control" id="floatingInput" placeholder="name@example.com">
              <i [ngClass]="{'far-ltr':language=='en'}" alt="show" class="text-white far fa-eye eye-show" 
              (click)="showPasswordConf = !showPasswordConf"
              [class.hide]="showPasswordConf"></i>
              <i  [ngClass]="{'far-ltr':language=='en'}" alt="hide" class="text-white far fa-eye-slash eye-hide" 
              (click)="showPasswordConf = !showPasswordConf"
              [class.hide]="!showPasswordConf"></i> 
              <label class="text-white inputFieldLable" for="floatingInput">{{'USERPROFILE.CONFIRM_PASSWORD'|translate}}
                <span style="color: red;">*</span>

              </label>
              <app-Form-errors [control]="resetPasswordFrorm.controls['new_password_confirmation']"></app-Form-errors>
              <app-Form-errors [control]="resetPasswordFrorm"></app-Form-errors>
  
            </div>

            <div class="width-40 mt-5 text-center d-flex flex-column gap-1">
              <div>
                <button (click)="changePassword()"  type="button" class="loginBtn">{{'FORGETPASSWORD.CHANGEPASSWORD'|translate}}</button>
              </div>
              <!-- <app-button-comp style="width: 120px;"  [name]="'تسجيل دخول'" background_color="#6759FF" ></app-button-comp> -->
              <div>
                <span class="text-white fs-16 fw-300">{{'REGISTER.ACCOUNTEXIST'|translate}}  </span>
                <span routerLink="/auth/login" class="text-white underLined-text fs-16 fw-400 cursor-pointer">{{'REGISTER.LOGIN'|translate}} </span>
              </div>
            </div>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>