<!-- ui_fix -->
<div class="row div-container p-0 ps-5 pe-5">
  <div class="card invoice-card mt-3">
   <div class="px-3 pb-3 d-flex flex-wrap justify-content-between">
     <div class=" cardTitle ">
       <p>{{'PRICELIST.SUBTITLE' | translate}}</p>
     </div>

   </div>

    <div class="col-md-12 d-flex justify-content-between px-3 py-3">
       <div class="search">
        <span class="me-2 my-auto">{{'CREDITNOTICE.SEARCH' | translate}}</span>
         <input type="text" placeholder="{{'ADDPRICEOFFER.PRICEOFFERNUM'|translate}}"
           (keyup.enter)="search()"
         [(ngModel)]="searchWord" (input)="search()">
       </div>
    </div>
    <div class="col-md-12">

      <app-table-comp 
      [columnsArray]="columnsArray"
      [columnsNames]="columnsNames"
      [RowsData] = "userQuotations"
      [type]="'quotation'"
      [controlArray]="controlArray">
      </app-table-comp>

 
      <p-paginator (onPageChange)="onPageChange($event)"  #paginator
       [first]="1" [rows]="perPage" [totalRecords]="totalPage" 
      ></p-paginator> 

     <!-- <p-table [responsive]="true" [value]="userQuotations">
       <ng-template pTemplate="header">
           <tr>
             <th style="display: table-cell !important;">رقم عرض السعر</th>
             <th style="display: table-cell !important;">العميل</th>
             <th style="display: table-cell !important;">تحميل</th>
             <th style="display: table-cell !important;">الفواتير</th>
               <th style="display: table-cell !important;">الإجمالي</th>
               <th style="display: table-cell !important;">تحكم</th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-userPriceOffers>
           <tr>
               <td>{{ userPriceOffers.number }}</td>
               <td style="width: 100px;" class="color-lightBlue"><span style="width: 150px;" class="limit_text">{{ userPriceOffers.client }}</span></td>
               <td>
                <div class="cursor-pointer download">
                  <button style="border-radius: 20px;width: 101px;" class="prodBtn px-3 py-1 fw-semibold green_Color_BG  border-0 text-white my-auto mx-0">
                      <span> تحميل</span>
                  </button>
                </div>
               </td>
               <td>
                <div>
                  <div>
                    <span class="me-2">{{ userPriceOffers.invoices_count }}</span>
                  </div>
                  <div class="cursor-pointer download">
                    <button style="border-radius: 20px;width: 160px;" class="prodBtn px-3 py-1 fw-semibold light-green-BG  border-0 text-white my-auto mx-0">
                        <span routerLink="/invoices/Add-invoices" class="green_Color_text"> اضافة فاتورة جديدة</span>
                    </button>
                  </div>
                </div>
              </td>
               <td>{{ userPriceOffers.total }}</td>

               <td>             
                 <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle"
                id="dropdownMenuButton1" 
                 data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-ellipsis-v" style="color: #000000;"></i>
                </button>
                <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li 
                  [routerLink]="'/prices/price-offers-datails/'+userPriceOffers.uuid" 
                  class="p-2 cursor-pointer">
                    <span>رؤية عرض سعر</span>
                  </li>

                </ul>
              </div></td>
           </tr>
       </ng-template>
   </p-table> -->
    </div>
</div>
</div>




