.divCont{
    .secIII{

        .cardsII{
            height: 550px;
            overflow: auto;
            width: 47%;
            //width: 35.8vw;
            // height: 480px;
            background: #FFFFFF;
            border-radius: 17.0118px;
            // padding: 20px;
            @media screen and (max-width:768px){
                width: 100%;
            }
        }
        @media screen and (max-width:768px){
            row-gap: 25px;
        }
    
    }
    .clearBtn{
        left: 284px;
        bottom: 114px;
    }
    .uploadedImage{
        width: 318px;
        height: 318px;
        border-radius: 50%;
    }
    .left-58px{
        left: -58px !important;
    }
}