<!-- ui_fix -->
<div class="invoices-container px-5 p-0 ps-5 pe-5">
  <div class="col-md-12 d-flex justify-content-start title">
   <h2>{{'MESSAGES.TITLE' | translate}}</h2>
  </div>
  <div class="card mb-5 invoice-card">
   <div class="row px-2 py-3 d-flex flex-row justify-content-between">
     <div class="col-md-3 cardTitle">
       <p> {{'MESSAGES.SUBTITLE' | translate}}</p>
     </div>
   </div>

    
    <div class="col-md-12">
 
     <app-table-comp 
     [columnsArray]="columnsArray"
     [columnsNames]="columnsNames"
     [RowsData] = "messages"
     [type]="'AdminInvoice'"
     [controlArray]="controlArray">
     </app-table-comp>


     <p-paginator #paginator (onPageChange)="onPageChange($event)"
     [first]="1"  [rows]="perPage" [totalRecords]="totalPage" 
     ></p-paginator> 

    </div>
  </div>
</div>


