.register{
    background-image: url('../../../../assets/images/login/vivid-blurred-colorful-background\ \(2\)\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    @media screen and (max-width:1025px) and (min-width:769px) {
        height: 120%  !important;
    }
}
.ContDiv{
    width: 75%;
    height: 83%;
    border-radius: 20px !important;
    margin: auto;
    min-height: 550px;
    @media screen and (max-width:426px) {
        width: 100% !important;
    }
    @media screen and (max-width:769px) and (min-width:426px) {
        min-height: 600px !important;
    }
    .background{
        background-image: url('../../../../assets/images/login/loginBgcrpd.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        // background-size: cover;
        width: 100%;
        height: 100%;
        padding: 3rem;
        border-radius: 60px !important;
        @media screen and (max-width:1441px) {
            height: max-content !important;
        }
        @media screen and (max-width:651px) {
            padding: 0 !important;
        }
        @media screen and (max-width:768px) {
            background-image: none !important;
            background-color: #4E498D !important;
            height: max-content !important;
        }
        @media screen  and (max-width: 2560px) and (min-width:2000px){
          position: relative !important;  
          .registerBodyAR{
            position: absolute !important;
            left: 0;
            right: 333px;
            top: 184px;
          }
          .registerBodyEN{
            position: absolute !important;
            left: 310px;
            right: 0px;
            top: 196px;
          }
        }
        .registerBody{

            .title{
             font-size: 34px;
             font-weight: 600;
             color: white;
             @media screen and (max-width:769px) and (min-width:376px){
                 font-size: 40px !important;
             }
             @media screen and (max-width:376px){
                 font-size: 20px !important;
             }

            } 
            .textInput{
             background: #514B96 !important;
             border: none;
             border-radius: 4px;
             color: white;
                 text-align: justify;
            //  input:focus {
            //     background: #514B96 !important;
            // }
            &:focus,
            &:valid {
                background: #514B96 !important;
            }
            }
     
            .inputFieldLable{
             padding: 0.5rem 0.75rem !important;
            }
            .form-control:focus{
             box-shadow: none;
             border: 1px solid #6A64AD;
             box-shadow: 0px 0px 20px rgba(106, 100, 173, 0.3);
            }
            .forgetPassword{
             color: white;
             text-decoration: underline;
            }
            .loginBtn{
             background-color: #6759FF;
             color: white;
             border-radius: 4px;
             border: none;
             width: 229px;
             height: 46px;
              @media screen and (max-width:376px) {
                 width: 172px !important;
              }
            }
            .checkbox{
             background-color:transparent;
             border: 1px solid white !important;
            }
            .hide {
             display: none;
           }
           .inner-addon { 
               position: relative; 
           }
           .inner-addon .far, .inner-addon .fas {
             position: absolute;
             padding: 10px 30px;
             z-index: 100;
             cursor: pointer;
           }
            @media screen and (max-width:375px) {
             padding: 2rem!important;
            }
     
            .far{
             right:unset;
             left: 0;
             top: 5px;
            }
            .far-ltr{
                right:0;
                left:unset;
                top: 5px; 
            }
         }
    }

  
}

::ng-deep .register{
.p-inputtext{
    background: #514B96;
    border: none;
    border-radius: 4px;
    color: white;
        text-align: justify;
    display: block;
    width: 100%;
   }
   .p-inputtext:enabled:focus{
    box-shadow: none;
    border: 1px solid #6A64AD;
    box-shadow: 0px 0px 20px rgba(106, 100, 173, 0.3);
   }
   .p-password{
    width: 100%;

   }
}  

.active{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.notActive{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #716DA3;
    position: relative;
    z-index: 1;


}

// .hLine {
//     color: white !important;
//     width: 2px;
//     z-index: 0;
//     rotate: 90deg;
//     background-color: white;
//     align-self: stretch;
// }

.hLine{
    background: white;
    color: white;
    height: 2px;
    z-index: 0;
    width: 100%;
    position: absolute;
    // @media screen and (max-width:2561px) and (min-width:1537px) {
    //     width: 19%;
    // }
    // @media screen and (max-width:1025px) and (min-width:769px) {
    //     width: 15%;
    // }
    // @media screen and (max-width:769px) and (min-width:426px) {
    //     width: 32%;
    // }
    // @media screen and (max-width:426px)  {
    //     width: 37%;
    // }
}

::ng-deep .register .p-dropdown {
    background: #514B96 !important;
    border: none;
    // border-radius: 4px;
    color: white;
        text-align: justify; 
    width: 100%;
    padding: 0 !important;
}



::-ms-reveal {
    display: none;
}
    
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}






.teleDiv{
    .customngxTele{
        width: 100%;
        input{
            width: 100%;
            padding: 3% 0 !important;
        }
    }
   
}
.phoneInputAR{
    ::ng-deep{

        .iti input, .iti input[type=text], .iti input[type=tel]{
            direction: rtl;
        }

        .iti {
            position: relative;
            width: 100%;
            height: 46px;


        }
        .iti--allow-dropdown input{
            padding: 2% 26% 2% 1%;
            background: #514B96;
            border: none;
            height: 46px;

            // box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
            border-radius: 9px;
        }
        .iti.separate-dial-code .iti__selected-flag, 
        .iti.separate-dial-code.iti--allow-dropdown.iti-sdc-2 .iti__selected-flag{
            width: 106%;
            // direction: ltr;
            // font-weight: bold;
            // border-left: 1px solid #E6E6E6;
            font-family: 'Montserrat';
        }
        .iti.separate-dial-code input , .iti.separate-dial-code.iti--allow-dropdown.iti-sdc-3 input{
            // padding-left: 2px !important;
            color: white !important; 
        }


            .iti input::placeholder {
                color: white !important; 
              }
    
        .iti.separate-dial-code.iti--allow-dropdown.iti-sdc-3 .iti__selected-flag{
            width: 106%;
            // direction: ltr;
            font-weight: bold;
            border-left: 1px solid #E6E6E6;
            font-family: 'Montserrat';
        }
        // .iti.separate-dial-code .iti__selected-flag ,
        // .iti.separate-dial-code .iti--allow-dropdown.iti-sdc-3 .iti__selected-flag{
        //     width: 71px !important;
        // }
        .country-dropdown {
            min-width: 16rem;
            text-align: justify;
            right: 0 !important;
            left: unset !important;
            width: 100%;
            direction: ltr;
        }

        // .iti .selected-dial-code{
        //     margin-left: 1px;
        //     font-size: 12px;
        // }
        // .selected-dial-code{
        //     font-family: 'Montserrat';
        //     color: #393939;
        //     font-weight: 800;
        // }
        .iti__flag-container{
            right: 0;
            left: auto;
        }

   
    input{
        width: 100%;
    }
    .iti.separate-dial-code input, .iti.separate-dial-code.iti--allow-dropdown.iti-sdc-2 input, .iti.separate-dial-code.iti--allow-dropdown.iti-sdc-3 input, .iti.separate-dial-code.iti--allow-dropdown.iti-sdc-4 input {
        padding-right: 100px !important;
        padding-left: 0px !important;
    }
    .iti__country-list-item {
        padding: 10px !important; /* Add some padding to each item */
      }
      .iti__country-list-item:hover {
        background-color: #514B96; /* Change background color on hover */
      }
    //   .iti__flag {
    //     width: 30px; /* Adjust the width of the selected flag icon */
    //     margin-right: 10px; /* Add some spacing between flag and input */
    //   }
     .selected-dial-code {
        font-family: "Montserrat";
        color: white;
    }

} 

}
.phoneInputEN{
    ::ng-deep{

 .iti input, .iti input[type=text], .iti input[type=tel]{
        direction: ltr;
    }

       .iti--allow-dropdown input {
            background-color: #514B96;
            border: none;
            height: 46px;
            color: white;

        }
    // .iti__country-list {
    //     background-color: #514B96; /* Set background color */
    //     border: 1px solid #514B96; /* Add a border */
    //     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
    //     color: white;
    //   }
      .iti__country-list-item {
        padding: 10px; /* Add some padding to each item */
      }
      .iti__country-list-item:hover {
        background-color: #514B96; /* Change background color on hover */
      }
      .iti__selected-flag {
        width: 30px; /* Adjust the width of the selected flag icon */
        margin-right: 10px; /* Add some spacing between flag and input */
      }
      .iti__input-placeholder {
        color: #999; /* Set the color of the placeholder text */
      }
      .iti--allow-dropdown.iti--invalid .iti__selected-flag {
        border-color: #ff0000; /* Change border color for invalid input */
      }
      .iti--disabled {
        opacity: 0.7; /* Adjust opacity for disabled state */
      }
                .iti input::placeholder {
                color: white !important; 
              }
        .selected-dial-code{
            font-family: 'Montserrat';
            color: white;
        }
        .iti__arrow {
            color: white;
        }
    }
}


#PolicyModal{

    .modal-dialog{
        max-width: 61vw;
        @media screen and (max-width:769px) {
            max-width:100% 
        }
        .modal-content{
            border-radius: 20px;
            .modal-header{
            justify-content: end;
            text-align: end;
            border: none;
            width: 100%;
            padding: 2% 2% 0% 2%;
            button{
                margin: 0;
                color: #393939;
                opacity: 1;
                font-weight: bold;
                font-size: 17px;
                
            }
            }
            .modal-body{
                padding: 0% 5% 5vh 5%;
                .Title{
                    width: 100%;
                    text-align: center;
                    h4{
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 15px;
                        color: #393939;
                        @media screen and (max-width:768px) {
                            font-size: 19px; 
                        }
                    }
                }
                h5{
                    font-weight: bolder;
                    font-size: 16px;
                    line-height: 26px;
                    color: #707070;
                }
                p{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 21px;
                    color: #929292;
                    text-align: start;
                    width: 88%;
                }

  
            }
        }
        
    }
    
  }

