.download{
    span{
        @media only screen and (max-width: 769px) {
            font-size: 12px;
        }
    }
}

.zatcaDiv{
    span{
        font-size: 10px;
    }
}
::ng-deep .btn-secondary{
    background-color: #FFFFFF !important;
    border: none;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page{
    @media screen and (max-width:357px) {
        min-width: 2rem;
        height: 2rem; 
    }
}

::ng-deep .p-paginator .p-paginator-first{
    @media screen and (max-width:376px) {
        min-width: 1rem;
        margin: 0px; 
    }
}
::ng-deep .p-paginator .p-paginator-last{
    @media screen and (max-width:376px) {
        min-width: 1rem;
        margin: 0px; 
    }
}

li{
    width: max-content;
}
.hide{
    display: none;
}

::ng-deep .p-datatable .p-datatable-tbody > tr {
    max-width: 100% !important;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th{
    text-align: center !important;
    border-left:1px solid #dee2e6 !important;
    font-size: 14.5px;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    text-align: center !important;
    border-left:1px solid #dee2e6 !important;
    
}
::ng-deep .p-datatable-resizable .p-datatable-tbody>tr>td {
    white-space: normal !important;
    overflow: visible !important;
}

.max-width-style {
    ::ng-deep .p-datatable table {
      max-width: 100% !important;
      width: 100% !important;
    }
  }

 .tableWidth{
  @media screen and (max-width:768px) {
        ::ng-deep .p-datatable table {
            max-width: 100% !important;
            width: 100% !important;
          }
    }
  }


.limit_text{
    margin: auto;
    @media screen and (max-width:768px) {
        margin: unset;
        text-align: end;
    }
}

@media screen and (max-width:768px) {
    .fs-19{
        font-size: 12px;
    }
}



.imgUpload{
    border: 2px dashed #384EB74D;
    background: #F8F8FF;
    cursor: pointer;
    @media screen and (max-width:767px) {
        width: 100% !important;
    }
}
.closebutton{
    position: absolute;
    top: -20%;
    left: 0;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
 }
 ::ng-deep{
    .rtl{
        .whatsappColumn{
            flex-direction: row-reverse;
        }
    }
 }
 .min-width-column{
    min-width: 200px;
    @media screen and (max-width:768px) {
        min-width: auto;
    }
 }

 
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  ::ng-deep .rtl{
    .switch{
        transform: rotateY(180deg);
    }
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(102, 159, 219);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(102, 159, 219);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  ::ng-deep{
    .rtl .currencyCol{
        .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
            padding-right: unset;
            margin-right: unset;
            padding-left: 1.75rem;
            margin-left: -1.75rem;
        }
        .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
            right: unset;
            left: 0.75rem;
        }
    }
}
