<!-- ui_fix -->
<div class="subscriptionBody p-0 ps-5 pe-5">
  <div class="header border border-bottom-1">
    <div class="p-2 d-flex flex-wrap justify-content-between">
      <div class="info">
        <h3 class="blueText mb-4">فاتورة ضريبية</h3>
        <h3 class="mb-3">Fatorah Pro</h3>
        <div class="d-flex mb-1">
         <span class="fs-14-sm">إسم المؤسسة :</span>
         <span class="fs-14-sm">مؤسسة هدب لتقنية نظم المعلومات</span>
        </div>
        <div class="mb-1 fs-14-sm">
          العنوان : الرياض، المملكة العربية السعودية
        </div>
        <div class="mb-1 fs-14-sm">
          رقم الهاتف : 966550744660+
        </div>
        <div class="mb-1 fs-14-sm">
          <!-- ui_fix -->
          info <!-- @ -->fatorah-pro.com : الإيميل
        </div>
        <div class="mb-1 fs-14-sm">
          رقم التعريف الضريبي : 310479575700003
        </div>

      </div>
      <div class="logo d-flex justify-content-center align-items-center">
       <img src="../../../../assets/images/landing/logo 3.png" alt="">
      </div>

    </div>
  </div>

  <div class="body p-3 mt-4">
    <div class="invoiceInfo mb-3 gap-3 d-flex flex-column">
        <div class="d-flex flex-wrap gap-2">
          <div class="bg-blue box p-2 borderRadius_10px">
            رقم الفاتورة
          </div>
          <div class="gray-blue box p-2 borderRadius_10px">
            5419
          </div>
        </div>
        <div class="d-flex flex-wrap gap-2">
          <div class="bg-blue box p-2 borderRadius_10px">
            التاريخ     
               </div>
          <div class="gray-blue box p-2 borderRadius_10px">
            2023/08/30
          </div>
        </div>
    </div>
    <div >
      <div class="w-75 justify-content-center align-items-center d-flex">
        <h4>بيانات العميل</h4>
      </div>
      <div class="gap-3 d-flex flex-column">
        <div class="d-flex flex-wrap gap-2">
          <div class="bg-blue box2 p-2 borderRadius_10px">
            الإسم         
           </div>
          <div class="gray-blue box3 p-2 borderRadius_10px">
            عبدالوهاب محمود دهلوي    
            </div>
        </div>
        <div class="d-flex flex-wrap gap-2">
          <div class="bg-blue box2 p-2 borderRadius_10px">
            العنوان     
               </div>
          <div class="gray-blue box3 p-2 borderRadius_10px">
            2023/08/30
          </div>
        </div>
        <div class="d-flex flex-wrap gap-2">
          <div class="bg-blue box2 p-2 borderRadius_10px">
            رقم الهاتف     
               </div>
          <div class="gray-blue box3 p-2 borderRadius_10px">
            2023/08/30
          </div>
        </div>
        <div class="d-flex flex-wrap gap-2">
          <div class="bg-blue box2 p-2 borderRadius_10px">
            الرقم الضريبي               </div>
          <div class="gray-blue box3 p-2 borderRadius_10px">
            2023/08/30
          </div>
        </div>
      </div>

    </div>
    <div class="HLine mt-3"></div>
  </div>
</div>
