<div>
  <div class="main-card mt-3">
    <div class="px-3 pb-3 d-flex flex-wrap justify-content-between">
      <div class=" cardTitle ">
        <p>{{'ALLFEATURES.ALLFEATURES' | translate}}</p>
      </div>
      <div class="addBtn" >
        <app-button-comp class="Btn" [routerLink]="'/admin/subscription-plans/feature-details/add/'+planId+'/null'"  [btnType]="'main'" image="../../../../assets/images/invoices/add.svg"    [name]="'ALLFEATURES.ADD' | translate " [background_color]="'#1B1464'" ></app-button-comp>

      </div>
 
    </div>
 
     <div class="col-md-12">
 
       <app-table-comp 
       [columnsArray]="columnsArray"
       [columnsNames]="columnsNames"
       [RowsData] = "features"
       [controlArray]="controlArray">
       </app-table-comp>
 
 
       <p-paginator (onPageChange)="onPageChange($event)" #paginator
        [first]="1" [rows]="perPage" [totalRecords]="totalPage" 
       ></p-paginator> 
 
 
     </div>
 </div>
</div>