<!-- ui_fix -->
<div class="main-container p-0 ps-5 pe-5">
  <div class="row  AddUsers-container">
    <div class="col-md-12 d-flex justify-content-start title">
     <h2 *ngIf="type!='edit'" class="ms-4">{{'CATEGORIES.ADD' | translate}}</h2>
     <h2 *ngIf="type=='edit'" class="ms-4">{{'CATEGORIES.EDIT' | translate}}</h2>
    </div>
    <div class="card p-4 borderRadius_10px AddUsers-card mt-3">
     <!-- <div class="px-3 pb-2 d-flex flex-wrap justify-content-between">
       <div  class=" cardTitle ">
         <h4 >{{'CITIES.DETAILSSUBTITLE' | translate}}</h4>
       </div>
     </div> -->
    <form [formGroup]="categoryDataForm">
      <div class="px-2">
    
        <div formGroupName="name">
          <div
            class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 fullScreenWidth mx-0 my-4 inner-addon right-addon" >
            <label class="form-label mb-1">{{ 'COMMON.NAME' | translate }} - {{'COMMON.ARABIC' |translate}} <span style="color: red;">*</span> </label>
            <input type="text" formControlName="ar" placeholder=" "
            [ngClass]="!categoryDataForm.get('name.ar')?.valid && categoryDataForm.get('name.ar')?.touched ?'errorInput' : ''"
              class="form-control defaultBg borderRadius_10px my-1 mx-0 py-2 py-2 w-100">
            <app-Form-errors [control]="categoryDataForm.get('name.ar')"></app-Form-errors>
    
          </div>
    
          <div
            class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 fullScreenWidth mx-0 my-4 inner-addon right-addon" >
            <label class="form-label mb-1">{{ 'COMMON.NAME' | translate }} - {{'COMMON.ENGLISH' |translate}} <span style="color: red;">*</span> </label>
            <input type="text" formControlName="en" placeholder=" "
              [ngClass]="!categoryDataForm.get('name.en')?.valid && categoryDataForm.get('name.en')?.touched ?'errorInput' : ''"
              class="form-control defaultBg borderRadius_10px my-1 mx-0 py-2 py-2 w-100">
            <app-Form-errors [control]="categoryDataForm.get('name.en')"></app-Form-errors>
    
          </div>
    
        </div>

        <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 fullScreenWidth mx-0 my-4 inner-addon right-addon">

          <label class="form-label mb-1"> {{ 'CATEGORIES.CATGTYPE' | translate }} <span style="color: red;">*</span></label>
          <div class="Types  gap-4">
            <div class="Type" *ngFor="let type of purchase_types; let i = index">
              <label class=" rounded-3 ">
                <input type="radio" [attr.id]="'class'+i" formControlName="type" [value]="type.type"
                  [checked]="type.type === selectedTypes" (change)="selectedTypes = type.type;">
    
                <!-- [disabled]="type.id != selectedTypes" -->
                <div class="typeBody rounded-3">
                  <img [src]="type?.img" alt="">
                </div>
    
              </label>
              <div *ngIf="language=='ar'" class="pt-3"> {{ type.name_ar }} </div>
              <div *ngIf="language=='en'" class="pt-3"> {{ type.name_en }} </div>
            </div>
          </div>
        </div>
    
    
        <div
          class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10  d-flex flex-wrap gap-5 justify-content-between fullScreenWidth mx-0 my-4 ">
          <div class="">
            <label class="form-label mb-1"> {{ 'CATEGORIES.CATGSTATUS' | translate }} <span style="color: red;">*</span></label>
            <div class="d-flex flex-wrap  justify-content-between fullScreenWidth gap-3 mx-0 mb-3 ">
              <div class="statusClass">
                <div class="d-flex gap-1 align-items-center justify-content-between">
                  <span>{{ 'CATEGORIES.TAXABLE' | translate }}</span>
                  <input type="radio" formControlName="taxable" name="taxable"
                  [ngClass]="!categoryDataForm.controls['taxable'].valid && categoryDataForm.controls['taxable'].touched ?'errorInput' : ''"
                    [ngStyle]="{'--checked-color': primaryColor}" class="form-check-input cursor-pointer"
                    style="width: 2.5em; height: 2.5em;border-radius: 5px;" [value]="1">
                </div>
    
              </div>
              <div class="statusClass">
                <div class="d-flex gap-1 align-items-center justify-content-between">
                  <span>{{ 'CATEGORIES.NONTAXABLE' | translate }}</span>
                  <input type="radio" formControlName="taxable" name="taxable"
                  [ngClass]="!categoryDataForm.controls['taxable'].valid && categoryDataForm.controls['taxable'].touched ?'errorInput' : ''"
                    [ngStyle]="{'--checked-color': primaryColor}" class="form-check-input cursor-pointer"
                    style="width: 2.5em; height: 2.5em;border-radius:5px;" [value]="0">
                </div>
              </div>
    
            </div>
            <app-Form-errors [control]="categoryDataForm.controls['taxable']"></app-Form-errors>
    
          </div>
          <div>
    
    
          </div>
    
    
        </div>
      </div>
    
      <div class="col-12 d-flex justify-content-center justify-content-md-end mt-5">
        <app-button-comp *ngIf="type!='edit'" [btnType]="'main'" (click)="addCategory()" style="width: 120px;"
          [name]=" 'COMMON.ADD' | translate " [background_color]="'#1B1464'"></app-button-comp>
        <app-button-comp *ngIf="type=='edit'" [btnType]="'main'" (click)="editCategory()" style="width: 120px;"
          [name]=" 'COMMON.EDIT' | translate " [background_color]="'#1B1464'"></app-button-comp>
      </div>
    
    </form>
  
  </div>
  </div>

</div>
