.invoices-container{
    // ui_fix
    // margin: 6% 3%;
    @media only screen and (max-width: 1024px) and (min-width:768px){
        margin: 3% 5%;
    }
.title{

    h2{
        font-weight: 600;
        font-size: 32px;
        @media only screen and (max-width: 769px) {
            font-size: 25px;
        }
    }
}
.invoice-card{
    border-radius: 20px;
    .cardTitle{
        width: 40%;
        font-weight: 600;
        font-size: 20px;
        display: flex;
       align-items: center;
        @media only screen and (max-width: 769px) {
            font-size: 15px;
            width: 50%;
        }

        
    }
    .addProdBtn{
        display: flex;
        align-items: center;
        margin: auto 0;
        // @media only screen and (max-width: 769px) {
        //     margin-inline: auto;
        //     width: 88%;
        //     margin-top: 6%;
        //     text-align: center;
        //     width: 200px;
        //     }
        }
        .tabs{
            background-color:#F5F9FC;
             border-radius: 20px !important;
        }
        .bottons{
            @media only screen and (max-width: 425px) {
                justify-content: center !important;
                display: flex;
                flex-wrap: wrap;
                .botton{
                    margin-bottom: 10px;
                }
            }
        }
        .search{
            width: 100%;
            input{
                width: 55%;
                border: #B8B8B8 1px solid !important;
                border-radius:10px;
                height: 35px;
                @media screen and (max-width:767px) and (min-width:320px){
                     width: 100%;               
                 }
            }
            .delete{
                display: flex;
                justify-content: flex-end ;
            }
            @media screen and (max-width:426px){
                flex-direction: column;
                justify-content: center;
                .delete{
                    display: flex;
                    justify-content: center !important;
                    margin-top: 10px;
                    width: 100%;
                }
                .searchDiv{
                    width: 100% !important;
                }
            }
        }
        .dropdown{
            @media screen and (min-width:767px){
              display: flex;
              justify-content: flex-end ;  
            }
            @media screen and (max-width:767px) and (min-width:320px){
             margin-top: 10px;
            }
        }
}

// ::ng-deep .p-datatable table{
//     min-width: 100% !important;
//      @media only screen and (max-width: 768px) {
//          min-width: 50% !important;
 
//      }
//  }
//  ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
//     text-align: center !important;
//     border: 1px solid #dee2e6 !important;
// }
// ::ng-deep .p-datatable .p-datatable-thead > tr > th{
//     text-align: center !important;
//     border: 1px solid #dee2e6 !important;
// }
//  @media only screen and (max-width: 768px) {
//      ::ng-deep .p-dropdown {
//          width: 70% ;
//      }
//      ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
//          border: 1px solid #dee2e6 !important;
//          border-width: 0 0 1px 0 !important; 
//          border: 1px solid #dee2e6 !important;

//      }
//      ::ng-deep #pr_id_2 .p-datatable-thead > tr > th, #pr_id_2 .p-datatable-tfoot > tr > td {
//       display: table-cell !important;
//       font-size: 13px;
//       border: 1px solid #dee2e6 !important;

//      }
 
//  }
//  @media screen and (max-width: 960px){
//     //  ::ng-deep #pr_id_2 .p-datatable-tbody > tr > td {
//     //     display:table-cell !important;
//     //     width: 40% !important;
//     //     border: 1px solid #dee2e6 !important;

//     //  }
//      ::ng-deep .p-datatable-wrapper{
//          overflow-x: scroll;
//      }
//  }
 ::ng-deep .p-tabmenu .p-tabmenu-nav {
    background-color:#F5F9FC !important;
}
::ng-deep .p-menuitem-link{
    background-color:#F5F9FC !important;
    padding: 0.75rem 1.25rem !important;  
}
::ng-deep.p-tabmenu-nav-content{
    border-radius: 20px !important;
    padding-bottom: 2%;
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus{
    box-shadow: none !important;
    padding: 0.75rem 1.25rem;
   }
   ::ng-deep .p-tabmenuitem{
    span{
        color: black;
    }
   }
}

::ng-deep .btn-secondary{
    background-color: #FFFFFF !important;
    border: none;
}
::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #11C387 ;
    background: #11C387 ;
}
::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
    border-color: #11C387 ;
    background: #11C387 ;
    color: #ffffff;
}
.tab_text{
    font-size: clamp(10px,1.4vw,20px);
}