<!-- ui_fix -->
<div class="invoices-container px-5">
   <div class="col-md-12 d-flex  title py-3 px-3">
    <h2>{{'INVOICE.TITLE' | translate}}</h2>
   </div>
   <div class="card mb-5 invoice-card">
    <div class="row px-3 py-3 d-flex flex-row justify-content-between ms-2">
      <div class="col-md-3 cardTitle ">
        <p> {{'INVOICE.SUBTITLE' | translate}}</p>
      </div>
      <div class="col-md-6 d-flex bottons justify-content-end">
        <!-- ui_fix -->
          <app-button-comp [btnType]="'main'"  (click)="navigate('/user/invoices/Add-invoices')" 
          class="me-2 botton w-75" [name]="'INVOICE.ADDINVOICE'|translate" image="./assets/images/invoices/add.svg" [background_color]="'#5C60F5'" ></app-button-comp>
  
          <!-- <app-button-comp [btnType]="'secondary'" (click)="navigate('/user/invoices/canceled-invoices')"
           class="me-3 botton w-75" [name]="'INVOICE.CANCELEDINVOICES'|translate" image="./assets/logo/x.svg" [background_color]="'#F44545'" ></app-button-comp> -->
      </div>

    </div>
    <div class="px-3" *ngIf="invoices">
      <div class="col-md-12 tabs mb-3" >
        <p-tabMenu [model]="items" [activeItem]="activeItem">
          <ng-template pTemplate="item" let-item let-i="index">
           <span class="tab_text">{{item.label}}</span>  
           <span class="text-center tab_text" style="width:35px;background: #E0E1FF;border-radius:10px;">{{numberArray[i]}}</span>
        </ng-template>
        </p-tabMenu>
       </div>
    </div>
     
     <div class="row w-100 justify-content-between px-2 py-3 ">
        <div class="col-md-6 search px-1 d-flex justify-content-between w-100">
          <!-- ui_fix -->
          <div style="width: 50%;" class="ms-1 pb-3 searchDiv ">
           <span class="me-2 my-auto ">{{'CREDITNOTICE.SEARCH' | translate}}</span>
            <input type="text" placeholder="{{'COMMON.CLIENT'| translate}}" (keyup.enter)="search()"
            [(ngModel)]="searchWord" (input)="search()">

          </div>
          <div class="delete">
            <!-- <app-button-comp [btnType]="'secondary'" style="width: 232px !important;"
            class="botton d-flex w-75" (click)="deletePopup.openModel()" [name]="'INVOICE.CANCEL'|translate" image="./assets/logo/x.svg" background_color="#F44545" ></app-button-comp> -->
          
            <!-- <app-delete-error-popup (ChoosenEvent)="cancelledInvoice($event)"   #deletePopup></app-delete-error-popup> -->
            
          </div>
          <!-- [style.width.px]="'227px'" style="width: 227px !important;"  -->
        </div>
        <div class="dropdown col-md-6" hidden>
          <p-dropdown [options]="options" optionLabel="name"></p-dropdown>
        </div>
     </div>
     <div class="col-md-12">

      <app-table-comp 
      [columnsArray]="columnsArray"
      [columnsNames]="columnsNames"
      [RowsData] = "invoices"
      [type]="'ClientInvoice'"
      (setCheckboxFalse)="resetCheckboxValue($event)"
      [resetCheckbox]="resetCheckbox"
      [controlArray]="controlArray">
      </app-table-comp>


      <p-paginator #paginator (onPageChange)="onPageChange($event)"
      [first]="1"  [rows]="perPage" [totalRecords]="totalPage" 
      ></p-paginator> 

     </div>
   </div>
 
  </div>


  <!-- <button hidden  #openDeleteModal type="button" (click)="deletePopup.openModel()"></button>
   <button hidden  #closeDeleteModal type="button" (click)="deletePopup.closeModalClick()"></button> -->

