<!-- ui_fix -->
<div class="row invoices-container p-0 ps-5 pe-5">
  <div class="card invoice-card mt-3">
   <div class="px-3 pb-3 d-flex flex-wrap justify-content-between">
     <div class=" cardTitle ">
       <p>{{'INVOICE.SUBTITLE' | translate}}</p>
     </div>

   </div>

    <div class="col-md-12 d-flex justify-content-between px-3 py-3">
       <div class="search">
        <span class="me-2 my-auto">{{'CREDITNOTICE.SEARCH' | translate}}</span>
         <input type="text"
         placeholder="{{'SALESREPORT.INVOICE_NUMBER' |translate}} , {{'INVOICE.CREATEDAT'|translate}}"
           (keyup.enter)="search()"
         [(ngModel)]="searchWord" (input)="search()">
       </div>
    </div>
    <div class="col-md-12">

      <app-table-comp 
      [columnsArray]="columnsArray"
      [columnsNames]="columnsNames"
      [type]="'ClientInvoice'"
      [RowsData] = "userInvoices"
      [controlArray]="controlArray">
      </app-table-comp>


      <p-paginator (onPageChange)="onPageChange($event)"  #paginator
       [first]="1" [rows]="perPage" [totalRecords]="totalPage" 
      ></p-paginator> 

     <!-- <p-table [responsive]="true" [value]="userInvoices">
       <ng-template pTemplate="header">
           <tr>
             <th style="display: table-cell !important;">رقم الفاتورة</th>
             <th style="display: table-cell !important;">إسم العميل</th>
             <th style="display: table-cell !important;">تحميل</th>
             <th style="display: table-cell !important;"> حالة الفاتورة </th>
               <th style="display: table-cell !important;">تاريخ نشاء الفاتورة</th>
               <th style="display: table-cell !important;">المبلغ المحصل</th>
               <th style="display: table-cell !important;">الاجمالي</th>
               <th style="display: table-cell !important;">تحكم</th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-userInvoices>
           <tr>
               <td>{{ userInvoices.number }}</td>
               <td style="width: 100px;" class="color-lightBlue"><span style="width: 150px;" class="limit_text">{{ userInvoices.client }}</span></td>
               <td>
                <div class="cursor-pointer download">
                  <button style="border-radius: 20px;width: 101px;" class="prodBtn px-3 py-1 fw-semibold green_Color_BG  border-0 text-white my-auto mx-0">
                      <span> تحميل</span>
                  </button>
                </div>
               </td>
               <td>{{ userInvoices.status }}</td>
               <td>{{ userInvoices.created_at }}</td>
               <td>{{ userInvoices.paid }}</td>
               <td>{{ userInvoices.total }}</td>
               <td>             
                 <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle"
                id="dropdownMenuButton1" 
                 data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-ellipsis-v" style="color: #000000;"></i>
                </button>
                <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li 
                  [routerLink]="'/invoices/invoice-details/'+userInvoices.uuid" 
                  class="p-2 cursor-pointer">
                    <span>رؤية  الفاتورة</span>
                  </li>

                </ul>
              </div></td>
           </tr>
       </ng-template>
   </p-table> -->
    </div>
</div>
</div>


